 /* .order-button {
        background-color: #4CAF50;
        color: white;
        border: none;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 5px;
        cursor: pointer;
    }
    .order-button:hover {
        background-color: #45a049;
    }
    .popup {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0,0,0,0.4);
    }
    .popup-content {
        background-color: #fefefe;
        margin: 10% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        border-radius: 5px;
        text-align: center;
    }
    .close-button {
        background-color: #f44336;
        color: white;
        border: none;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 10px;
    }
    .close-button:hover {
        background-color: #da190b;
    } */

.order-button {
    border: none;
}
      
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}
      
.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}
      
.popup-content h3 {
margin-top: 0;
}
      
.popup-content form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
      
.popup-content form label {
    display: block;
    font-weight: bold;
}
      
.popup-content form input,
.popup-content form textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
      
.close-button {
    background-color: red;
    color: #fff;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}
      
.close-button:hover {
    background-color: #999;
}
.price-button {
    display: inline-block;
    background-color: #deb887;
    color: white;
    padding: 3px px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}
      
.price-button:hover {
    background-color: #b8860b;
}